system.file_allocate.set = no

#per download
#min_peers = 40
#max_peers = 100

#per seed
#min_peers_seed = 10
#max_peers_seed = 50

#max sumiltanious uploads
#max_uploads = 15

#throttling
#download_rate = 0
#upload_rate = 0

#default download dir
directory = $DOWNLOADS_DIR

#session dir
session = $HOME/.rtorrent.session

#watch for torrents
schedule = watch_directory,5,5,load_start=$HOME/.rtorrent/watch/*.torrent
